.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: #070c11;
    margin-bottom: 40px;
}

.products {
    padding-top: 72px;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    margin-top: 50px;
    border: 1px solid #eaeaf0;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    width: 326px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #838688;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #070c11;
    width: 286px;
    margin-bottom: 20px;
}

.item_price {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #070c11;
    margin-top: 20px;
    margin-bottom: 15px;
}

.item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #4878a6;
    border: none;
    border: 1px solid #4878a6;
    border-radius: 4px;
    padding: 13px 54px;
    background-color: transparent;
    margin-top: 10px;
}
